In [1]:
import pandas as pd
import numpy as np

#filename = "vgg16_list1_data.csv"
#filename = "resnet_list1_data.csv"
#filename = "alexnet_list1_data.csv"

#filename = "vgg19_list1_data.csv"
#filename = "mobilenet_list1_data.csv"
filename = "densenet_list1_data.csv"

df = pd.read_csv('data/'+filename)
df.head()

   branches  cache_misses  cache_references  instructions
0      2038           863                85          9042
1     35938          9123               469        163527
2     28016          5782                88        116747
3     10328          3762               125         39582
4     22260          1459               501         96196

In [2]:
r = len(df["branches"])
print(r)
markers = list()

count = 0
for n in range(r):
    if(df["branches"][n] == 0):
        count = count + 1
            
    elif(df["branches"][n] > 0):
        if(count > 3000):
            markers.append(n)
        count = 0

955386

In [3]:
markers

[208395,
 292626,
 374417,
 455936,
 537232,
 618750,
 700515,
 782353,
 863778,
 945305]

In [4]:
x = 1
r = len(markers)
for i in range(r-1):
    df_temp = df.loc[markers[i]-500:markers[i+1]]
    df_temp.to_csv("data/split/"+str(x)+'_'+filename, encoding='utf-8', index=False)
    x = x+1